<div class="flex flex-col md:flex-row md:justify-center">
  <div class="flex items-center justify-center p-6 p-12">
    <div class="w-full">
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { data: { turbo: false} } )  do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= devise_error_messages! %>
      <h1 class="mb-4 text-2xl font-bold text-center text-gray-700">
        Edit User Account
      </h1>
      
      <div class="mt-4">
        <%= f.label :username, class: "text-sm" %><br />
        <%= f.text_field :username, autofocus: true, autocomplete: "Username", placeholder: "Username", class: "w-full px-4 py-2 text-sm border rounded-md focus:border-brightRedLight focus:outline-none focus:ring-1 focus:ring-brightRedLight" %>
      </div>
       <div class="">
        <%= f.label :email, class: "text-sm" %><br />
        <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "w-full px-4 py-2 text-sm border rounded-md focus:border-brightRedLight focus:outline-none focus:ring-1 focus:ring-brightRedLight" %>
      </div>
      <div class="">
        <%= f.label :current_password, class: "text-sm" %> <br>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "w-full px-4 py-2 text-sm border rounded-md focus:border-brightRedLight focus:outline-none focus:ring-1 focus:ring-brightRedLight"  %>
      </div>
      <div class="">
        <%= f.label :new_password, class: "text-sm"%> 
        <i class="text-xs text-slate-500">(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "w-full px-4 py-2 text-sm border rounded-md focus:border-brightRedLight focus:outline-none focus:ring-1 focus:ring-brightRedLight"  %>
        <div class="text-xs text-slate-500">
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
      </div>
      <div class="">
        <%= f.label :password_confirmation, class: "text-sm" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full px-4 py-2 text-sm border rounded-md focus:border-brightRedLight focus:outline-none focus:ring-1 focus:ring-brightRedLight"  %>
      </div>
      <%= f.submit "Update", class: "block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-brightRed border border-transparent rounded-full active:bg-brightRedLight hover:bg-brightRedLight focus:outline-none focus:shadow-outline-red"  %>
    </div>
  </div>
</div>
<% end %>