<!DOCTYPE html>
<html>
  <head>
    <title>SecretRoom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="container mx-auto p-6 bg-orange-100 ">
      <!--Flex container-->
      <div class="flex items-center justify-between w-full">
        <!--Logo-->
        <div class="py-1">
          <%= link_to root_path do %>
            <h1 class="font-mono font-extrabold text-2xl md:text-4xl italic whitespace-nowrap">Secret Room</h1>
          <% end %>
        </div>
        <!--Middle Text-->
        <div class="hidden md:flex space-x-6">
          You're secret is safe with us!
        </div>
        <!--Sign In Button-->
        <% if user_signed_in? %>
            <%= link_to 'Sign Out', destroy_user_session_path, class: "block p-3 text-sm md:px-6 py-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRedLight" %>
        <% else %>
          <%= link_to 'Sign In', new_user_session_path, class: "block p-3 text-sm md:px-6 py-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRedLight" %>
        <% end %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
